.topNavigation {
    list-style-type:none;
    display:inline-block;
}

.bottomNavigation {list-style-type: none;
                   display: inline-block;
}

tr:nth-child(even){background-color: #f2f2f2}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {text-align: center;}

.centerDiv {text-align:center;
}

.floatLeft {float: left;}

.floatRight {float: right;}

.clear {clear: both;}

h3 {text-align:center;}

ul {text-align: center;}

#searchButton {float: left;
      margin-left:.5em;
}

#createNewJobButton {float:right;
                     padding-left: 5em;
                     padding-right: 5em;
}

