#alignSendEmailButton {text-align:center;
                       width:200px;

}

label {display: inline-block;
       width: 200px;
       text-align:left;
}

#alignOkButton {text-align: center;
                width: 100px;
}

h3 {text-align: center;

}

ul {text-align: center;
    list-style-type: none;
}

.topNavigation {
    list-style-type:none;
    display:inline-block;
}

.centerDiv {text-align:center;}